:root {
  --primary-color: #eab308;
  --secondary-color: #171717;
  --background-color: #0a0a0a;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[var(--background-color)] text-white;
  }
}

.bg-primary-500 {
  background-color: var(--primary-color) !important;
}

.text-primary-500 {
  color: var(--primary-color) !important;
}

.border-primary-500 {
  border-color: var(--primary-color) !important;
}

.bg-dark-950 {
  background-color: var(--background-color) !important;
}

.bg-dark-900 {
  background-color: var(--secondary-color) !important;
}

